install_notes
metastore_db
*.log
checkpoint
.cache-main
dataset
.metadata
.settings
.project
.pyproject

manifest.yml
.gradle
selenium.log
debug/scc_SMA_forums_debug.egg-info
restfb
scheduling_wrapper
nohup.out
.gradle
project.egg-info
*.sublime-*
rebel.xml
scrapy
.metadata
.recommenders
.scrapy
ghostdriver.log
*.pyc
.DS_Store
dependency-reduced-pom.xml
*.swp
.idea
*.class
*/target
bin
.idea
.pydev*
.buildpath
.settings
.project
.classpath
target
*.pos
*_export.json
*_export.csv
build
dist
